@value colors: "./tokens/colors.module.css";
@value fonts: "./tokens/fonts.module.css";
@value color-box-shadow, color-placeholder, color-text-white, color-submit, color-select-border, color-border, color-background-primary from colors;
@value main-font-size, normal-font-weight, bold-font-weight, main-line-height,  extra-bold-font-weight, main-font-weight from fonts;

.container {
  padding: 10px;
  border: 1px solid color-border;
  box-shadow: 0 7px 9px color-box-shadow;
  border-radius: 10px;
  font-family: system-ui;
  bottom: 10px;
  right: 10px;
  position: fixed;
  z-index: 2147483647;
  background: color-background-primary;
  font-size: main-font-size;
  line-height: main-line-height;
  cursor: pointer;
}

.title {
  font-weight: bold-font-weight;
}

.collapsed {
  display: inline-flex;
  flex-direction: column;
}

.description {
  margin: 0;
}

.label {
  font-weight: bold-font-weight;
}

.select {
  height: 32px;
  padding: 0 8px;
  border-radius: 6px;
  border: 1px solid color-select-border;
}

.option {
  -webkit-appearance: none;
}

.textarea {
  resize: none;
  border-radius: 6px;
  border: 1px solid color-select-border;
  padding: 6px 8px;
}

.textarea::placeholder {
  color: color-placeholder;
  font-size: main-font-size;
  line-height: main-line-height;
  font-weight: normal-font-weight;
}

.containerField {
  display: grid;
  gap: 6px;
  padding: 10px 0;
}

.form {
  display: none;
}

.open .form {
  display: flex;
  flex-direction: column;
  width: 280px;
}

.open .collapsed {
  display: none;
}

.submit {
  cursor: pointer;
  background: color-submit;
  padding: 8px 0;
  border-radius: 6px;
  border: none;
  color: color-text-white;
  font-size: main-font-size;
  line-height: main-line-height;
  font-weight: extra-bold-font-weight;
}
