@value colors: "./tokens/colors.module.css";
@value fonts: "./tokens/fonts.module.css";
@value color-box-shadow, color-submit-hover, color-placeholder, color-text-white, color-submit, color-select-border, color-border, color-background-primary from colors;
@value main-font-size, normal-font-weight, bold-font-weight, main-line-height,  extra-bold-font-weight, main-font-weight from fonts;

.container {
  border: 1px solid color-border;
  box-shadow: 0 7px 9px color-box-shadow;
  border-radius: 10px;
  font-family: system-ui;
  bottom: 20px;
  right: 20px;
  position: fixed;
  /* z-index: 2147483647; */
  z-index: 2;
  background: color-background-primary;
  font-size: main-font-size;
  line-height: main-line-height;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title {
  font-weight: bold-font-weight;
}

.collapsed {
  display: inline-flex;
  flex-direction: column;
  padding: 10px;
  cursor: pointer;
}

.description {
  cursor: default;
  margin: 0 44px 0 0;
}

.label {
  font-weight: bold-font-weight;
}

.select {
  height: 32px;
  padding: 0 7px;
  border-radius: 6px;
  border: 1px solid color-select-border;
  background-repeat: no-repeat;
  background-position: right 7px bottom 50%;
  background-size: 20px;
  cursor: pointer;

  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.option {
  padding: 0;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.close {
  cursor: pointer;
  background-repeat: no-repeat;
  position: absolute;
  border: none;
  background-color: transparent;
  appearance: none;
  width: 24px;
  height: 24px;
  right: 10px;
  top: 10px;
  opacity: 30%;
  padding: 0;
}

.close:hover {
  opacity: 100%;
}

.textarea {
  border-radius: 6px;
  border: 1px solid color-select-border;
  padding: 5px 7px;
  min-height: 57px;
  resize: vertical;
  max-height: 300px;
}

.textarea::placeholder {
  color: color-placeholder;
  font-size: main-font-size;
  line-height: main-line-height;
  font-weight: normal-font-weight;
  font-family: system-ui;
}

.containerField {
  display: grid;
  gap: 6px;
  padding: 10px 0;
}

.containerField div,
label,
select,
textarea {
  font-size: main-font-size;
}

.form {
  display: none;
  padding: 10px;
}

.open .form {
  display: flex;
  flex-direction: column;
  width: 280px;
}

.open .collapsed {
  display: none;
}

.submit {
  cursor: pointer;
  background: color-submit;
  padding: 8px 0;
  border-radius: 6px;
  border: none;
  color: color-text-white;
  font-size: main-font-size;
  line-height: main-line-height;
  font-weight: extra-bold-font-weight;
}

.submit:hover {
  background: color-submit-hover;
}
