.container {
  display: inline-flex;
  flex-direction: column;
  padding: 10px;
  border: 1px solid #e2e2e2;
  box-shadow: 0 7px 9px rgba(0, 0, 0, 0.03);
  border-radius: 10px;
  font-family: system-ui;
  bottom: 10px;
  right: 10px;
  position: fixed;
  z-index: 2147483647;
  background: white;
}

.title {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
}

.description {
  font-size: 14px;
  line-hheight: 17px;
}
