.container {
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid gray;
    box-shadow: 2px 2px 2px gray;
    width: 200px;
    height: 40px;
}

.hide__container-title {
    font-weight: bold;
}